<a href="https://colab.research.google.com/github/Shkum/IT_STEP/blob/main/module2/%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D0%B0_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Імпорт модуля pandas

In [33]:
import pandas as pd

Дані про пасажирів корабля:
* pclass -- клас білета(перший, другий або третій)
* sex -- стать
* age -- вік
* sibsp -- кількість братів\сестер та чоловіків\дружин на борту
* parch -- кількість дітей та батьків на борту
* fare -- вартість поїздки
* embarked -- Порт посадки (C = Шербур, Q = Квінстаун, S = Саутгемптон)

In [34]:
df = pd.read_csv("https://raw.githubusercontent.com/HalyshAnton/IT-Step-Pyton-AI/main/module2/data/ship_passengers.csv",
                 index_col="Unnamed: 0")

# Завдання 1

Вивести загальну інформацію про таблицю: кількість рядків та стовпців, назви стовпців та їхній тип даних, в яких стовпцях є пропущені значення

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    891 non-null    int64
 1   sex       891 non-null    object
 2   age       714 non-null    float64
 3   sibsp     891 non-null    int64
 4   parch     891 non-null    int64
 5   fare      891 non-null    float64
 6   embarked  889 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 55.7+ KB
None

In [7]:
print(df.head())

   pclass     sex   age  sibsp  parch     fare embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S

# Завдання 2
Скільки пасажирів сіло у Квінстауні?

In [18]:
print((df['embarked'] == 'Q').sum())

77

# Завдання 3
Виведіть стать, вік та вартість поїздки для пасажирів з білетом першого класу

In [19]:
first_class = df[df['pclass'] == 1][['sex', 'age', 'fare']]
print(first_class)

        sex   age     fare
1    female  38.0  71.2833
3    female  35.0  53.1000
6      male  54.0  51.8625
11   female  58.0  26.5500
23     male  28.0  35.5000
..      ...   ...      ...
871  female  47.0  52.5542
872    male  33.0   5.0000
879  female  56.0  83.1583
887  female  19.0  30.0000
889    male  26.0  30.0000

[216 rows x 3 columns]

# Завдання 4
Ввиведіть дані про неповнолітніх чоловіків з Шербура

In [23]:
print(df[(df['age'] < 18) & (df['embarked'] == 'C')])

     pclass     sex    age  sibsp  parch      fare embarked
9         2  female  14.00      1      0   30.0708        C
39        3  female  14.00      1      0   11.2417        C
43        2  female   3.00      1      2   41.5792        C
111       3  female  14.50      1      0   14.4542        C
114       3  female  17.00      0      0   14.4583        C
125       3    male  12.00      1      0   11.2417        C
307       1  female  17.00      1      0  108.9000        C
329       1  female  16.00      0      1   57.9792        C
352       3    male  15.00      1      1    7.2292        C
381       3  female   1.00      0      2   15.7417        C
389       2  female  17.00      0      0   12.0000        C
448       3  female   5.00      2      1   19.2583        C
469       3  female   0.75      2      1   19.2583        C
532       3    male  17.00      1      1    7.2292        C
550       1    male  17.00      0      2  110.8833        C
644       3  female   0.75      2      1   19.2583        C
691       3  female   4.00      0      1   13.4167        C
731       3    male  11.00      0      0   18.7875        C
780       3  female  13.00      0      0    7.2292        C
803       3    male   0.42      0      1    8.5167        C
827       2    male   1.00      0      2   37.0042        C
830       3  female  15.00      1      0   14.4542        C
852       3  female   9.00      1      1   15.2458        C
875       3  female  15.00      0      0    7.2250        C

# Завдання 5
Створіть новий стовпчик relatives -- загальна кількість родичів на борту для кожного пасажира

In [24]:
df['relatives'] = df['sibsp'] + df['parch']
df

     pclass     sex   age  sibsp  parch     fare embarked  relatives
0         3    male  22.0      1      0   7.2500        S          1
1         1  female  38.0      1      0  71.2833        C          1
2         3  female  26.0      0      0   7.9250        S          0
3         1  female  35.0      1      0  53.1000        S          1
4         3    male  35.0      0      0   8.0500        S          0
..      ...     ...   ...    ...    ...      ...      ...        ...
886       2    male  27.0      0      0  13.0000        S          0
887       1  female  19.0      0      0  30.0000        S          0
888       3  female   NaN      1      2  23.4500        S          3
889       1    male  26.0      0      0  30.0000        C          0
890       3    male  32.0      0      0   7.7500        Q          0

[891 rows x 8 columns]

# Завдання 6
Видаліть стовпчик, в якому найбільше пропусків. Якщо пропущені значення ще залишаться, видаліть рядки з пропусками

In [35]:
df.isnull().sum()
df.drop(columns=['age'], inplace=True)
print(df)
df.dropna(inplace=True)
print(df)

     pclass     sex  sibsp  parch     fare embarked
0         3    male      1      0   7.2500        S
1         1  female      1      0  71.2833        C
2         3  female      0      0   7.9250        S
3         1  female      1      0  53.1000        S
4         3    male      0      0   8.0500        S
..      ...     ...    ...    ...      ...      ...
886       2    male      0      0  13.0000        S
887       1  female      0      0  30.0000        S
888       3  female      1      2  23.4500        S
889       1    male      0      0  30.0000        C
890       3    male      0      0   7.7500        Q

[891 rows x 6 columns]
     pclass     sex  sibsp  parch     fare embarked
0         3    male      1      0   7.2500        S
1         1  female      1      0  71.2833        C
2         3  female      0      0   7.9250        S
3         1  female      1      0  53.1000        S
4         3    male      0      0   8.0500        S
..      ...     ...    ...    ...      ...      ...
886       2    male      0      0  13.0000        S
887       1  female      0      0  30.0000        S
888       3  female      1      2  23.4500        S
889       1    male      0      0  30.0000        C
890       3    male      0      0   7.7500        Q

[889 rows x 6 columns]